<div class="card mt-2">
    <div class="card-header">
Detalles de la Reservas
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Cantidad: <h5>123</h5>
        </li>
        <li class="list-group-item">
            Vehiculos: <h5>123</h5>
        </li>
        <li class="list-group-item">
            Valor por hora : <h5>123</h5>
            
        </li>
        <li class="list-group-item">
            Nombre : <h5>123</h5>
        </li>
        <li class="list-group-item">
            N° Documento : <h5>123</h5>
        </li>
        <li class="list-group-item">
            Hora Salida : <h5>123</h5>
        </li>
        <li class="list-group-item">
            Hora llegada : <h5>123</h5>
        </li>
        <li class="list-group-item">
            Total Horas : <h5>123</h5>
        </li>
        <li class="list-group-item">
            Valor Total : <h5>123</h5>
        </li>
        <li class="list-group-item">
            Comision : <h5>123</h5>
        </li>
        <li class="list-group-item">
            Valor Final : <h5>123</h5>
        </li>
 
    </ul>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-outline-warning m-1 " >Edit</button>
      <button type="button" class="btn btn-outline-danger m-1 " >Delete</button>
    </div>
  </div>
